@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Noto+Sans+Mono:wght@100;200;300;400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Text+Me+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*global*/
:root{
  --main-color: #d7cec7;
  --title-color: #484D6D;
  --text-color: #2C365E;
  --secondary-color: #C5979D;

  --main-font: 'Noto Sans Mono';
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--main-color);
  font-family: var(--main-font), sans-serif;
}



h2 {
  font-size: 2.5rem;
  color: var(--title-color);
  padding: 1rem 0rem;
}

h3 {
  font-size: 1.25rem;
  line-height: 125%;
  color: var(--text-color);
}

section {
  padding: 5%;
}

.front-page {
  min-height: 100vh;
}

/*nav area*/
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav svg {
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}

.logo h1 {
  margin-left: 1rem;
}

.logo img {
  height: 7rem;
}

.links a {
  display: none;
  text-decoration: none;
  color: var(--title-color);
}

.links a:hover {
  text-decoration: underline;
}

/*title area*/
.hero {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.title {
  margin-top: 20vh;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.485);
  text-align: center;
}

/*buttons*/
.ctas {
  margin-top: 4rem;
}
.ctas button {
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.349);
}

.cta-main {
  background-color: var(--secondary-color);
  color: white;
}

.cta-audio {
  background-color: var(--title-color);
  color: white;
}